<h1>Welcome</h1>
<p>Find me in app/views/index.html.erb</p>
<p>basic eshop modeling onboarding exercise</p>
<%= link_to 'suppliers', controller: 'suppliers' %> (relevant content is inside suppliers this icon       <i class="fas fa-user-cog"></i>
)</br>

<div class ="mainother">
  <div class="content">
  	<%= link_to suppliers_path do%>
    	<i class="fas fa-user-cog fa-7x"></i>
  	<% end %>
  </div>
  <div class="content">
    <%= link_to customers_path do%>
      <i class="fas fa-user-tag fa-7x"></i>
    <% end %>
  </div>
  <div class="content">
  	<%= link_to users_path do%>
    	<i class="fas fa-user fa-7x"></i>
  	<% end %>
  </div>
  <div class="content">
  	<%= link_to products_path do%>
    	<i class="fas fa-shopping-basket fa-7x"></i>
  	<% end %>
  </div>  
</div>