<p>
  <strong>Price:</strong>
  <%= order.total_price %>
  &nbsp &nbsp &nbsp

  <strong>Status:</strong>
  <%= order.status %>	
  <ul>
  <%order.orderdetails.each do |op| %>
	  <li>
	    <strong>product:</strong>
	    <%= op.product.name %>
      <strong>product price:</strong>
      <%= op.product.price %>
      <strong>quantity:</strong>
      <%= op.p_quantity %>
      <strong>total:</strong> 
      <%= op.p_quantity*op.product.price %>

	  </li>

  <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Destroy order', [order.user, order],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>