<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>
<%= link_to 'Edit', edit_prdouct_path(@product) %> |
<%= link_to 'Back', products_path %>